@import url('https://fonts.googleapis.com/css?family=Montserrat');


h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

#ball {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 400px;
    background: purple;
    border-radius: 100px;
}


@keyframes bounce {
    0% {
       margin-top: 400px;   
    }

    50% {
        margin-top: 300px;
    }

    100% {
        margin-top: 400px;
    }
}

